
*{
margin: 0;
padding: 0%;
box-sizing: border-box;
font-family: 'Courier New', Courier, monospace;
}
 body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.titulo{
    padding: 5%;
    font-weight: 100;
}
p{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(50, 43, 80);   
}
.rated{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: 100;
    font-size: large;
}
input{
    display: none;
}

/*como aparencen las estrellas antes del rating */
 label{
    font-size: 5rem;
    color: lightgray;
    float:right;
}

/* Las estrelles cambian color cuando le paso el mousehover */
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~  label{
    color:goldenrod;
}

/* Las estrellas cambian color cuando hago click */ 
input:checked ~ label{
    color: rgb(243, 175, 4);
}

